<div>
<img src="" width=200 hight=200 alt="">
<h3>{{#link-to "episode.show" episode.id}}{{episode.title}} id: {{episode.id}}{{/link-to}}</h3>
type: {{episode.type}}
summary:{{slice 0 255 episode.summary}}...
</div>
