<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container">
		<div class="navbar-text pull-right small-foot">
			<a href="https://github.com/bigretromike/joshu" target="blank">Joshu</a>
		</div>
	</div>
</div>
