body {
	padding-top: 60px;
	padding-bottom: 70px;
}

.ratio {
    position:relative;
    width: 50%;
    height: 0;
    padding-bottom: 50% ;
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.shadow-box {
	box-shadow: 10px 10px 5px #aaaaaa;
}

.zoom-box 
{
	transition: all .2s ease-in-out; 
}

.zoom-box:hover
{
	transform: scale(1.05);
}

.col-center {
	float:none;
	margin: 0 auto;
}

.circle-base {
	border-radius: 50%;
}

.navbar-nav > li > a, .navbar-brand {
	padding-top: 4px !important;
	padding-bottom: 0 !important;
	height: 28px;
}
.navbar {
	min-height: 20px !important;
}

.navbar-default {
	background-color: #AC3E50;
	border-color: #FFFFFF;
	color: #AAAAAA;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #FFFFFF;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #CCCCCC;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #FFFFFF;
}

.filter-box a {
	color: #000000;
	text-decoration: none;
}

.filter-box a:hover {
	color: #AAAAAA;
	text-decoration: none;
}

.navbar-text {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
}

.small-foot, .small-foot a, .small-foot a:hover {
	font-size: 11px !important;
	color: #FFFFFF !important;
	text-decoration: none !important;
}
