<h1>Joshu</h1>
{{#link-to 'filter' class="button"}}filter{{/link-to}}
{{#link-to 'serie' class="button"}}serie{{/link-to}}
{{#link-to 'episode' class="button"}}episode{{/link-to}}
{{#link-to 'file' class="button"}}file{{/link-to}}
{{outlet}}
